<form [formGroup]="form">
    <h3>Customer add</h3>
    <mat-form-field class="max-width">
      <mat-label>href</mat-label>
      <input matInput focus formControlName="href" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>status</mat-label>
        <input matInput formControlName="status" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>statusReason</mat-label>
        <input matInput formControlName="statusReason" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>validFor</mat-label>
        <input type="number" matInput formControlName="validFor" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>baseType</mat-label>
        <input matInput formControlName="baseType" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>schemaLocation</mat-label>
        <input matInput formControlName="schemaLocation" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>type</mat-label>
        <input matInput formControlName="type" required>
    </mat-form-field><br>
    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
    </div>
  </form>