<form [formGroup]="form">
    <h3>ContactMedium add</h3>
    <mat-form-field class="max-width">
        <mat-label>mediumType</mat-label>
        <input matInput formControlName="mediumType" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>Preferred</mat-label>
        <select formControlName="preferred" matNativeControl required>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>validFor</mat-label>
        <input type="number" matInput formControlName="validFor" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>baseType</mat-label>
        <input matInput formControlName="baseType" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>schemaLocation</mat-label>
        <input matInput formControlName="schemaLocation" required>
    </mat-form-field><br>
    <mat-form-field class="max-width">
        <mat-label>type</mat-label>
        <input matInput formControlName="type" required>
    </mat-form-field><br>
    <div style="display: flex; justify-content: flex-end;">
      <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
      <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
    </div>
  </form>